{% extends 'layout.html.twig' %}

{% block content %}
    

    <h1>Quiz {{theme.name}} </h1>

   
    
    <ul>

    {% for question in questions %}
        <li>{{ question.title }}</li>
       
        {% for answer in answers %}
            <p>{{ answer.title }}</p>  

        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    {% endfor %}    
       
    </ul>
    <a href="/">Accueil</a>
{% endblock %}