{# TODO : manage errors display #}

<form action="" method="post">
	<input type="hidden" value="{{ item.id }}" name="id">
	<label for="title">Title</label>
	<input type="text" value="{{ item.title }}" name="title" id="title">
	<button>Submit</button>
</form>
