<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>

<body>
    <form action ="" method="post">
        <div>
            <label for="about">Sujet :</label>
            <select id="about" name="about">
                <option>Choisissez : </option>
                <option> Signaler une erreur sur la question </option>
                <option> Signaler une erreur sur la réponse </option>
                <option> Autre </option>
            </select>
        </div>
        <div>
            <label for="message">Message :</label>
            <textarea id="message" name="message" value="" id=""></textarea>
        </div>
        <div class="button">
            <button type="submit">Envoyer</button>
        </div>
    </form>
</body>

</html>