{% extends 'layout.html.twig' %}

{% block content %}
        <div>
            <a href="add/theme">Add a theme</a>
            <br>
            <a href="add/question">Add a question</a>
        </div>
{% endblock %}
