{% extends 'layout.html.twig' %}

{% block content %}
    <div class ='logo'>
        <img src = '/assets/images/Caos.png' alt='logo CAOS' width ='300' height ='300'>
        <p>Jouons</p>
    </div>
{% endblock %}