    <div class ='logo'>
        <img src = '/assets/images/Caos.png' alt='logo CAOS' width ='300' height ='300'>
        <div class ='message'>
            <p class='red'>J </p><p class='yellow'> o </p><p class='blue'> u </p> <p class='yellow'> o </p><p class ='green'> n </p><p class='red'> s</p>
        </div>    
    </div>
