    <div class ='logo'>
        <img src = '/assets/images/Caos.png' alt='logo CAOS' width ='300' height ='300'>
        <div class ='message'>
            <p class='blue'>J </p><p class='red'> o </p><p class='yellow'> u </p> <p class='green'> o </p><p class ='blue'> n </p><p class='red'> s</p>
        </div>    
    </div>
