body {
    color: white;
    min-height: 100vh;
    background: url('../images/quizMan.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.background-accueil {
    /* background-color: #3566b6; */
    color: white;
    /* text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045; */
    text-shadow:0 0 4px #000000;
}

.logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(111, 111, 238);
    font-style: bold;
}

.message {
    display: flex;
    font-style: bold;
    font-size: 2em;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
   
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.2em;
    
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themes {
    display : flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    width: 100vh;
    
    /* background-size: contain;
    background-repeat: no-repeat; */
}

h1 {
    color:rgb(159, 205, 226);
    text-shadow:0 0 5px #000000;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

label.btn-secondary {
    background-color: white;
}
.quiz label:hover, .quiz a.btn-secondary:hover {
    background-color: rgb(72, 100, 179) !important;
    color: white !important;
}

.results label:hover {
    background-color: white;
    color: white;
}

.results label.false-answer:hover {
    color: black;
}

.btn btn-outline:checked+.btn-secondary {
    background-color: rgb(72, 100, 179) !important;
    color: white !important;
}

.radio {
    display: none;
}

.radio:checked+.answer-option {
    background-color: grey;
    color: #fff;
}

.correct, .correct_selected {
    background-color: green !important;
    color: white;
    font-weight: bold;
}

.correct_selected {
    background-color: #f0f  !important;
}


.incorrect_selected {
    background-color: red !important;
    color: white;
    font-weight: bold;
}

.wcs {
    width: 10rem;
    padding: 1rem;
}

.dropdown-menu li.bg-danger a:hover {
    background-color: red;
}