body {
    color: white;
    min-height: 100vh;
    background-image: url('../images/quizMan.webp');
}

.logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(111, 111, 238);
    font-style: bold;
}

.message {
    display: flex;
    font-style: bold;
    font-size: 2em;
}

.red {
    color: rgb(232, 32, 32);
    margin: 0.2em;

}

.yellow {
    color: rgb(245, 230, 62);
    margin: 0.2em;

}

.blue{
    color :rgb(145, 145, 237);
    margin: 0.2em;
}

.green {
    color: rgb(179, 241, 169);
    margin: 0.2em;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/musique.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.2em;
    
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themes {
    display : flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    background-image: url('../images/quizMan.webp');
}

h1 {
    color:rgb(132, 191, 219);
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

/* label {
    display: block;
    margin-bottom: 10px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

li.answer:hover, label:hover {
    background-color: #ddd;
} */
label.btn-secondary {
    background-color: white;
}
.quiz label:hover, .quiz a.btn-secondary:hover {
    background-color: rgb(72, 100, 179) !important;
    color: white !important;
}

.results label:hover {
    background-color: white;
    color: white;
}

.results label.false-answer:hover {
    color: black;
}

.btn btn-outline:checked+.btn-secondary {
    background-color: rgb(72, 100, 179) !important;
    color: white !important;
}

.radio {
    display: none;
}

.radio:checked+.answer-option {
    background-color: grey;
    color: #fff;
}

.correct, .correct_selected {
    background-color: green !important;
    color: white;
    font-weight: bold;
}

.correct_selected {
    background-color: #f0f  !important;
}


.incorrect_selected {
    background-color: red !important;
    color: white;
    font-weight: bold;
}

.wcs {
    width: 10rem;
    padding: 1rem;
}