body {
    color: #f76c6c;
}

.logo{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(111, 111, 238);
    font-style: bold;


}