{% extends 'layout.html.twig' %}

{% block content %}
        <h2>Add a new theme</h2>
        <form method="post">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Theme Name">
        </form>
{% endblock %}
