{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container justify-content-start flex-grow-1 mt-4 text-center">
        {% if errors %}
            {% for error in errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% else %}
        {# No errors block #}
            {% if user %}
            {# If logged in #}
            <div class= "background-accueil">
            <h2> {{user.username}}, choisis ton quiz !</h2>
            </div>
            
            {% else %}
            <h1>Choisis ton quiz :</h1>
            {% endif %}
            {# Themes #}
            {% include 'Theme/_theme.html.twig' %}
        {% endif %}
        {% if not user %}
        {# Add login form #}
            {% include 'User/login.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
