{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container justify-content-start flex-grow-1 mt-4 text-center">
        <h1>Choisissez votre thème</h1>
        <div class="row mx-auto">
            {% for theme in themes %}
                <div class="col-6 text-center">
                    <a class="btn btn-primary btn-lg text-lg col-8 mt-2" style="background-color: {{theme.color}};" href="/themes?id={{ theme.id }}">
                        <i class="fas fa-{{theme.icon}} me-2"></i>
                        {{ theme.name }}
                    </a>
                </div>
            {% else %}
                <div class="col-12">Nothing to display</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
