{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container justify-content-start flex-grow-1 mt-4 text-center">
        {% if errors %}
            {% for error in errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% else %}
        {# No errors block #}
            {% if user %}
            {# If logged in #}
            <h1>Choisissez votre thème, {{user.username}}</h1>
            <a class="text-danger small" href="logout">Not you? Logout</a>
            {% else %}
            <h1>Choisissez votre thème</h1>
            {% endif %}
            {# Themes #}
            {% include 'Theme/_theme.html.twig' %}
        {% endif %}
        {% if not user %}
        {# Add login form #}
            {% include 'User/login.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
