{% extends 'layout.html.twig' %}

{% block content %}
   
    <div class ='themes'>
    <h1>Themes</h1>
    <ul>
        {% for theme in themes %}
            <li><a href="/themes?id={{ theme.id }}">{{ theme.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
